{% extends 'core/base.html' %}


{% block searchbar %}

<form method="get" action=""><div class="main_searchbar">

    <div class="grid-container">
        <div class="grid-item input-container">
            <input type="text" id="username" name="username" placeholder="ادخل الرقم الوظيفي" value="{{ request.GET.username }}">
        </div>
        <div class="grid-item input-container">
            <input type="text" id="firstname" name="firstname" placeholder="ادخل الاسم الأول" value="{{ request.GET.firstname }}">
        </div>
        <div class="grid-item input-container">
            <input type="text" id="secondname" name="secondname" placeholder="ادخل الاسم الثاني" value="{{ request.GET.secondname }}">
        </div>
        <div class="grid-item input-container">
            <input type="text" id="thirdname" name="thirdname" placeholder="ادخل الاسم الثالث" value="{{ request.GET.thirdname }}">
        </div>
        <div class="grid-item input-container">
            <select name="has_basicinfo">
                <option value="" >لديه بيانات اساسية  </option>
                <option value="yes" {% if request.GET.has_basicinfo == "yes" %}selected{% endif %}>نعم</option>
                <option value="no" {% if request.GET.has_basicinfo == "no" %}selected{% endif %}>لا</option>
            </select>
        </div>

        <div class="grid-item input-container">
            <select name="gender">
                <option value="">اختر الجنس</option>
                <option value="M" {% if request.GET.gender == "M" %}selected{% endif %}>ذكر</option>
                <option value="F" {% if request.GET.gender == "F" %}selected{% endif %}>أنثى</option>
            </select>
        </div>
        
        
       
        <div class="grid-item input-container">
            <select name="has_phone">
                <option value="">لديه رقم هاتف</option>
                <option value="yes" {% if request.GET.has_phone == "yes" %}selected{% endif %}>نعم</option>
                <option value="no" {% if request.GET.has_phone == "no" %}selected{% endif %}>لا</option>
            </select>
        </div>
        
            <div class="grid-item input-container">
                <button type="submit">بحث</button>
            </div>
           
    </div>
</div>
</form>


{% endblock %}

{% block titleleftsidemenu %}


{% endblock %}

{% block leftsidemenu %}
<label class="result-label">عدد نتائج البحث : {{ employee_count }}</label>


<div class="search-container">
    <form method="get" action="">
            <select name="office">
                <option value="">اختر الدائرة</option>
                {% for office in offices %}
                    <option value="{{ office.id }}" {% if request.GET.office == office.id|stringformat:"d" %}selected{% endif %}>
                        {{ office.name }}
                    </option>
                {% endfor %}
            </select>
        
        <button type="submit" class="leftsidemenu-button">بحث</button>
    </form>
</div>

{% endblock %}


{% block titlecontent %}

{% endblock %}


{% block content %}
<table>
    <thead>
        <tr>
            <th>الرقم الوظيفي </th>
            <th>الاسم الكامل</th>
            <th>رقم هاتف الموظف </th>
            <th>لوحة تحكم الموظف </th>
          
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.username }}</td>
            <td>
                {% if employee.basic_info %}
                {{ employee.basic_info.get_full_name }} 
                {% if perms.personalinfo.can_view_employee_basic_info %}
                - <a href="{% url 'personalinfo:basicinfodetail' employee.basic_info.slug %}">عرض معلومات أساسية</a>
                {% else%}
                ليس لديك صلاحية العرض
                {% endif %}
            {% else %}
            لا توجد معلومات 
            {% if perms.personalinfo.can_add_employee_basic_info %}
             - 
            <a href="{% url 'personalinfo:addbasicinfo' employee.slug %}">إضافة معلومات أساسية</a>
            {% else%}
            ليس لديك صلاحية الاضافة
            {% endif %}

            {% endif %}
            </td>
            <td>
                {% if employee.basic_info and employee.basic_info.phone_number %}
                    {{ employee.basic_info.phone_number }}
                {% else %}
                    لا يوجد
                {% endif %}
            </td>
            
            <td>
                {% if perms.personalinfo.can_access_employee_dashboard %}
                <a href="{% url 'accounts:employeedashboard' employee.slug %}">عرض لوحة التحكم</a>
                {% else%}
                ليس لديك صلاحية الوصول
                {% endif %}
            </td>
         
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">لا توجد بيانات لعرضها.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pagination %}
<div class="pagination-container">
    <div class="pagination-info">
        <span>عدد العناصر بالصفحة:</span>
        <form method="get" action="" class="pagination-form">
            <input type="number" id="results_per_page" name="results_per_page" placeholder="عدد النتائج لكل صفحة" value="{{ request.GET.results_per_page|default:10 }}" class="pagination-input">
        </form>
    </div>
    <div class="pagination-controls">
        {% if employees.has_previous %}
            <a href="?{{ request.GET.urlencode }}&page=1" class="pagination-button">الأولى</a>
            <a href="?{{ request.GET.urlencode }}&page={{ employees.previous_page_number }}" class="pagination-button">السابق</a>
        {% endif %}
        <span>صفحة {{ employees.number }} من {{ employees.paginator.num_pages }}</span>
        {% if employees.has_next %}
            <a href="?{{ request.GET.urlencode }}&page={{ employees.next_page_number }}" class="pagination-button">التالي</a>
            <a href="?{{ request.GET.urlencode }}&page={{ employees.paginator.num_pages }}" class="pagination-button">الأخيرة</a>
        {% endif %}
    </div>
    
    
    
</div>
{% endblock %}



{% block titlesidemenu %}

{% endblock %}

{% block sidemenu %}

<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">  الصفحة الشخصية    </a>
    <a href="{% url 'personalinfo:main_personalinfo' %}" class="custom-button"> ادارة المعلومات الشخصية     </a>
    
    {% if perms.personalinfo.can_add_employee_basic_info %}
    <a href="{% url 'personalinfo:upload_basic_info_csv' %}" class="custom-button"> رفع CSV          </a>

    {% else%}
    ليس لديك صلاحية الرفع
    {% endif %}
    <a href="{% url 'personalinfo:download_sample_basic_info_csv' %}" class="custom-button"> تحميل نموذج CSV          </a>

    <a href="{% url 'personalinfo:export_basic_info_to_csv' %}?username={{ request.GET.username }}&firstname={{ request.GET.firstname }}&secondname={{ request.GET.secondname }}&thirdname={{ request.GET.thirdname }}&has_basicinfo={{ request.GET.has_basicinfo }}&gender={{ request.GET.gender }}&has_phone={{ request.GET.has_phone }}&office={{ request.GET.office }}" class="custom-button">
        تصدير النتائج إلى CSV
    </a>

</div>
{% endblock %}