{% extends 'core/base.html' %}
{% block content %}
<div class="form-container">
    <h2 class="form-title">إضافة   شهادة للموظف: {{ employee.username }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <small class="error-text">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-submit">حفظ</button>
    </form>
</div>
{% endblock %}



{% block sidemenu %}



<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">  الصفحة الشخصية    </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'rddepartment:main_rddepartment' %}" class="custom-button">   الشهادات والتطوير     </a>
    <a href="{% url 'rddepartment:main_coursecertificatetype' %}" class="custom-button">   انواع الشهادات       </a>
    <a href="{% url 'rddepartment:main_coursecertificateinstitutions' %}" class="custom-button">   اسماء المراكز        </a>
    <a href="{% url 'rddepartment:mainemployeecoursecertificate' %}" class="custom-button"> صفحة الشهادات غير الاكاديمية </a> 

    <a href="{% url 'rddepartment:download_sample_employee_course_certificate_csv' %}" class="custom-button">   تحميل نموذج  CSV        </a>
    
    
    
</div>



{% endblock %}

{% block leftsidemenu %}
<label class="result-label">   {{ request.user }}</label>
{% endblock %}


