{% extends 'core/base.html' %}

{% block title %}اضافة خدمة وظيفية  {% endblock %}



{% block content %}
<h2>إضافة سجل وظيفي للموظف: {{ employee.get_full_name }}</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="custom-button">حفظ</button>
</form>

<br>
{% endblock %}


{% block sidemenu %}
<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">الصفحة الشخصية   </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'hrhub:main_hrhub' %}" class="custom-button">  الموارد البشرية      </a>
    <a href="{% url 'hrhub:employee_employment_history' %}"  class="custom-button">الخدمات الوظيفية   </a>
    <a href="{% url 'hrhub:main_employement' %}" class="custom-button">  انواع الخدمة       </a>
   

    <a href="{% url 'hrhub:upload_employment_history_csv' %}" class="custom-button">رفع CSV   </a>

</div>
{% endblock %}

{% block leftsidemenu %}
<label class="result-label">   مدخل البيانات{{ request.user }}</label>
{% endblock %}
