{% extends 'core/base.html' %}


{% block searchbar %}


{% endblock %}

{% block titleleftsidemenu %}


{% endblock %}

{% block leftsidemenu %}
<label class="result-label">عدد نتائج البحث : {{ total_governorates }}</label>
{% endblock %}


{% block titlecontent %}

{% endblock %}




{% block content %}
<h2>إحصائيات المحافظات</h2>
<div class="table-container">
    <table class="creative-table">
        <thead>
            <tr>
                <th>#</th>
                <th>اسم المحافظة بالعربي</th>
                <th>اسم المحافظة بالإنكليزي</th>
                <th>مدخل المحافظة</th>
                <th>ملاحظات</th>
                <th>عرض التفاصيل  </th>
                <th>تحديث</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            {% for governorate in governorates %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ governorate.name_arabic }}</td>
                <td>{{ governorate.name_english }}</td>
               
                    <td>
                        {% if governorate.created_by.basic_info and governorate.created_by.basic_info.get_full_name %}
                        {{ governorate.created_by.basic_info.get_full_name }} 
                        
                        {% if perms.accounts.custom_view_dash_board %}
                        -   <a href="{% url 'accounts:employeedashboard' governorate.created_by.slug %}"> لوحة التحكم</a>
                        {% endif %}
                    </td>
                        {% else %}
                        {{ governorate.created_by.username }}
                        {% endif %}
                    </td>
                    
                    
                   
                <td>{{ governorate.description }}</td>
             
                <td>  
                    {% if perms.locations.can_view_governorate_details %}
                    <a href="{% url 'locations:governorate_detail' governorate.slug %}" class="update_button" >عرض </a> 
                    {% else %}
                    ليس لديك صلاحية
                        {% endif %}

                    </td>

                    <td>
                        {% if perms.locations.can_update_governorate %}
                        <a href="{% url 'locations:update_governorate' governorate.slug %}"  class="update_button" >تحديث</a>
                        {% else %}
                        ليس لديك صلاحية
                        {% endif %}

                    </td>
                    <td>
                        {% if perms.locations.can_delete_governorate %}
                        <a href="{% url 'locations:delete_governorate' governorate.slug %}" class="delete_button"  onclick="return confirm('هل أنت متأكد أنك تريد حذف هذه المحافظة؟')">حذف</a>
                        {% else %}
                        ليس لديك صلاحية
                        {% endif %}


                        
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">لا توجد محافظات مسجلة حالياً.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block pagination %}
<div class="pagination-container">
    <div class="pagination-info">
        <span>عدد العناصر بالصفحة:</span>
        <form method="get" action="" class="pagination-form">
            <input type="number" id="results_per_page" name="results_per_page" placeholder="عدد النتائج لكل صفحة" value="{{ request.GET.results_per_page|default:10 }}" class="pagination-input">
        </form>
    </div>
    <div class="pagination-controls">
        {% if governorates.has_previous %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1" class="pagination-button">الأولى</a>
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ governorates.previous_page_number }}" class="pagination-button">السابق</a>
        {% endif %}
        <span>صفحة {{ governorates.number }} من {{ governorates.paginator.num_pages }}</span>
        {% if governorates.has_next %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ governorates.next_page_number }}" class="pagination-button">التالي</a>
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ governorates.paginator.num_pages }}" class="pagination-button">الأخيرة</a>
        {% endif %}
    </div>
</div>
{% endblock %}




{% block titlesidemenu %}

{% endblock %}

{% block sidemenu %}

<div class="button-container">

<a href="{% url 'locations:main_locations_dashboard' %}" class="custom-button">الاماكن</a>

{% if perms.locations.can_reate_governorate %}
<a href="{% url 'locations:governorate_create' %}" class="custom-button">ادخال محافظة جديدة</a>
{% endif %}


<a href="{% url 'locations:export_governorates_csv' %}" class="custom-button">تصدير CSV</a>
<a href="{% url 'locations:download_sample_governorates_csv' %}" class="custom-button"> نموذج CSV</a>
<a href="{% url 'locations:download_all_governorates_csv' %}" class="custom-button">   جميع المحافظات </a>
<a href="{% url 'locations:upload_governorates_csv' %}" class="custom-button"> رفع CSV</a>




</div>


{% endblock %}

