{% extends 'core/base.html' %}


{% block title %}

{% endblock %}



{% block titlesidemenu %}

{% endblock %}



{% block titlecontent %}

{% endblock %} 

{% block sidemenu %}


<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">  الصفحة الشخصية    </a>
    <a href="{% url 'personalinfo:main_personalinfo' %}" class="custom-button"> ادارة المعلومات الشخصية     </a>
    <a href="{% url 'personalinfo:main_official_documents_type' %}" class="custom-button"> صفحة انواع الوثائق       </a>
    <a href="{% url 'personalinfo:mainemployeeofficialdocuments' %}" class="custom-button"> صفحة وثائق الموظفين        </a>

    {% comment %} {% if perms.personalinfo.can_create_nationalism %} {% endcomment %}
    {% comment %} {%  else %}
    لا تمتلك الصلاحية
    {% endif %} {% endcomment %}
    {% comment %} <a href="{% url 'personalinfo:export_nationalism_csv' %}" class="custom-button"> تصدير CSV       </a> {% endcomment %}


    

</div>



{% endblock %}



{% block content %}



<h2>تحديث   الوثيقة: {{ employee }}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"  class="custom-button">تحديث</button>
    
</form>

{% endblock %}


{% block leftsidemenu %}
<label class="result-label">محدث البيانات   : {{ created_by }}</label>



{% endblock %}