{% extends 'core/base.html' %}

{% block searchbar %}
    <!-- يمكنك إضافة شريط البحث هنا إذا كنت بحاجة له -->
{% endblock %}

{% block titleleftsidemenu %}
    <!-- يمكن إضافة عنوان هنا إذا كنت بحاجة له -->
{% endblock %}

{% block leftsidemenu %}
    <!-- يمكن إضافة قائمة جانبية هنا إذا كنت بحاجة لها -->
{% endblock %}

{% block titlecontent %}
    <h1>أنواع الملاك</h1>
{% endblock %}

{% block content %}
    <table class="custom-table">
        <thead>
            <tr>
                <th>#</th>
                <th>الاسم بالعربية</th>
                <th>الاسم بالإنجليزية</th>
                <th>الموازنة</th>
                <th>افتراضي</th>
                <th>تحديث</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in staff_structers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ staff.name_in_arabic }}</td>
                <td>{{ staff.name_in_english }}</td>
                <td>{{ staff.is_default|yesno:"نعم,لا" }}</td>
                <td></td>
                <td>
                    <a href="{% url 'hrhub:update_staff_structer_type' staff.slug%}" class="update_button">تعديل  </a>
                </td>
                <td>
                    <a href="{% url 'hrhub:delete_staff_structer_type' staff.slug%}" class="delete_button">حذف  </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">لا توجد أنواع ملاك مسجلة حالياً.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block titlesidemenu %}
    <!-- يمكن إضافة عنوان القائمة الجانبية هنا إذا كنت بحاجة له -->
{% endblock %}


{% block sidemenu %}
<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">الصفحة الشخصية   </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'hrhub:main_hrhub' %}" class="custom-button">  الموارد البشرية      </a>
    <a href="{% url 'hrhub:add_staff_structer_type' %}" class="custom-button">  اضافة نوع ملاك   </a>
    <a href="{% url 'hrhub:main_payroll_budget' %}" class="custom-button"> صفحة انواع الموازنات     </a>
    <a href="{% url 'hrhub:main_staff_structer_type' %}" class="custom-button"> صفحة انواع الملاك     </a>
    <a href="{% url 'hrhub:add_payroll_budget' %}" class="custom-button">اضافة موازنة</a>


    
</div>
{% endblock %}