{% extends 'core/base.html' %}

{% block title %}  تفاصيل {{ degree_type.name_in_arabic }} {% endblock %}

{% block titlesidemenu %}
{% endblock %}


{% block content %}
<h1>اسم الشهادة: {{ degree_type.name_in_arabic }}</h1>
<p><strong>الاسم بالإنجليزية:</strong> {{ degree_type.name_in_english }}</p>
<p><strong>الدرجة الوظيفية:</strong> {{ degree_type.grade_number }}</p>
<p><strong>المرحلة الوظيفية:</strong> {{ degree_type.step_number }}</p>
<p><strong>مستوى الشهادة:</strong> {{ degree_type.education_degree_number }}</p>
<p><strong>التأثير على السنوات:</strong> {{ degree_type.years_effects }}</p>
<p><strong>درجة التسكين:</strong> {{ degree_type.stop_point }}</p>
<p><strong>التأثير في الشهادات المضافة:</strong> {{ degree_type.has_effect|yesno:"نعم,لا" }}</p>
<p><strong>التأثير على السنوات عند الإضافة:</strong> {{ degree_type.addtion_years_effects }}</p>
<p><strong>الملاحظات:</strong> {{ degree_type.comments }}</p>
<p><strong>تم الإنشاء بواسطة:</strong> {{ degree_type.created_by }}</p>
<p><strong>تاريخ الإنشاء:</strong> {{ degree_type.created_at }}</p>
<p><strong>آخر تحديث:</strong> {{ degree_type.updated_at }}</p>

{% if perms.rddepartment.can_update_education_degree_type %}
<a href="{% url 'rddepartment:update_education_degree_type' degree_type.slug %}" class="update_button">تحديث</a>

{% endif %}
{% if perms.rddepartment.can_delete_education_degree_type %}
 <a href="{% url 'rddepartment:delete_education_degree_type' degree_type.slug %}" class="delete_button" onclick="return confirm('هل أنت متأكد أنك تريد حذف هذا النوع من الشهادة؟')">حذف</a> 
 
{% endif %}
{% endblock %}


{% block sidemenu %}

<div class="button-container">

    <a href="{% url 'accounts:view_profile' %}" class="custom-button">  الصفحة الشخصية    </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'rddepartment:main_rddepartment' %}" class="custom-button">   الشهادات والتطوير     </a>
    <a href="{% url 'rddepartment:main_education_degree_type' %}" class="custom-button">   انواع الشهادات      </a>

    {% if perms.rddepartment.can_add_education_degree_type %}
    <a href="{% url 'rddepartment:add_education_degree_type' %}" class="custom-button">  اضافة نوع الشهادة   </a>
    {% endif %}
    <a href="{% url 'rddepartment:export_education_degree_type_to_csv' %}" class="custom-button">
        تصدير  CSV
    </a>


</div>
{% endblock %}



{% block leftsidemenu %}
<label class="result-label">   {{ request.user }}</label>
{% endblock %}
