{% extends 'core/base.html' %}


{% block searchbar %}

<form method="get" action=""><div class="main_searchbar">

    <div class="grid-container">
        <div class="grid-item input-container">
            <input type="text" id="username" name="username" placeholder="ادخل الرقم الوظيفي" value="{{ request.GET.username }}">
        </div>
        <div class="grid-item input-container">
            <input type="text" id="firstname" name="firstname" placeholder="ادخل الاسم الأول" value="{{ request.GET.firstname }}">
        </div>
        <div class="grid-item input-container">
            <input type="text" id="secondname" name="secondname" placeholder="ادخل الاسم الثاني" value="{{ request.GET.secondname }}">
        </div>
        <div class="grid-item input-container">
            <input type="text" id="thirdname" name="thirdname" placeholder="ادخل الاسم الثالث" value="{{ request.GET.thirdname }}">
        </div>
        <div class="grid-item input-container">
            <select name="has_staff_kind">
                <option value="">لديه ملاك</option>
                <option value="yes" {% if request.GET.has_staff_kind == "yes" %}selected{% endif %}>نعم</option>
                <option value="no" {% if request.GET.has_staff_kind == "no" %}selected{% endif %}>لا</option>
            </select>
        </div>

        <div class="grid-item input-container">
            <select name="gender">
                <option value="">اختر الجنس</option>
                <option value="M" {% if request.GET.gender == "M" %}selected{% endif %}>ذكر</option>
                <option value="F" {% if request.GET.gender == "F" %}selected{% endif %}>أنثى</option>
            </select>
        </div>
        
        
       
        <div class="grid-item input-container">
            <select name="staff_type">
                <option value="">اختر نوع الملاك</option>
                {% for staff_type in staff_types %}
                    <option value="{{ staff_type.id }}" {% if request.GET.staff_type == staff_type.id|stringformat:"s" %}selected{% endif %}>
                        {{ staff_type.name_in_arabic }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
        
            <div class="grid-item input-container">
                <button type="submit">بحث</button>
            </div>
           
    </div>
</div>
</form>


{% endblock %}

{% block titleleftsidemenu %}


{% endblock %}

{% block leftsidemenu %}
<label class="result-label">عدد نتائج البحث : {{ employee_count }}</label>

<div class="search-container">
    <form method="get" action="">
        <!-- تصفية PayrollBudgetType -->
        <select name="payroll_budget_type">
            <option value="">اختر نوع الموازنة</option>
            {% for payroll_budget_type in payroll_budget_types %}
                <option value="{{ payroll_budget_type.id }}" {% if request.GET.payroll_budget_type == payroll_budget_type.id|stringformat:"s" %}selected{% endif %}>
                    {{ payroll_budget_type.name_in_arabic }}
                </option>
            {% endfor %}
        </select>
        <br> <br>
        
        <button type="submit" class="leftsidemenu-button">بحث</button>
    </form>
</div>



{% endblock %}


{% block titlecontent %}

{% endblock %}


{% block content %}
<table>
    <thead>
        <tr>
            <th>الرقم الوظيفي </th>
            <th>الاسم الكامل</th>
            <th>رقم هاتف الموظف </th>
            <th>هل لديه ملاك؟</th>
            <th>لوحة تحكم الموظف </th>
          
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.username }}</td>
            <td>
                {% if employee.basic_info %}
                {{ employee.basic_info.get_full_name }} - <a href="{% url 'hrhub:add_employee_staff_kind' employee.basic_info.slug %}">اضافة ملاك  </a>
            {% else %}
            لا توجد معلومات 
            {% endif %}
            </td>
            <td>
                {% if employee.basic_info and employee.basic_info.phone_number %}
                    {{ employee.basic_info.phone_number }}
                {% else %}
                    لا يوجد
                {% endif %}
            </td>
            <td>
                {% if employee.basic_info and employee.basic_info.employee_staff_kind.exists %}
                    نعم - <a href="{% url 'hrhub:employee_staff_list' employee.basic_info.slug %}">عرض   </a> 
                {% else %}
                    لا
                {% endif %}
            </td>
            
            
            
            <td>
                {% if perms.personalinfo.can_access_employee_dashboard %}
                <a href="{% url 'accounts:employeedashboard' employee.slug %}">عرض لوحة التحكم</a>
                {% else%}
                ليس لديك صلاحية الوصول
                {% endif %}
            </td>

         
        </tr>
        {% empty %}
        <tr>
            <td colspan="10">لا توجد بيانات لعرضها.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pagination %}
<div class="pagination-container">
    <div class="pagination-info">
        <span>عدد العناصر بالصفحة:</span>
        <form method="get" action="" class="pagination-form">
            <input type="number" id="results_per_page" name="results_per_page" placeholder="عدد النتائج لكل صفحة" value="{{ request.GET.results_per_page|default:10 }}" class="pagination-input">
        </form>
    </div>
    <div class="pagination-controls">
        {% if employees.has_previous %}
            <a href="?{{ request.GET.urlencode }}&page=1" class="pagination-button">الأولى</a>
            <a href="?{{ request.GET.urlencode }}&page={{ employees.previous_page_number }}" class="pagination-button">السابق</a>
        {% endif %}
        <span>صفحة {{ employees.number }} من {{ employees.paginator.num_pages }}</span>
        {% if employees.has_next %}
            <a href="?{{ request.GET.urlencode }}&page={{ employees.next_page_number }}" class="pagination-button">التالي</a>
            <a href="?{{ request.GET.urlencode }}&page={{ employees.paginator.num_pages }}" class="pagination-button">الأخيرة</a>
        {% endif %}
    </div>
    
    
    
</div>
{% endblock %}



{% block titlesidemenu %}

{% endblock %}



{% block sidemenu %}
<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">الصفحة الشخصية   </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'hrhub:main_hrhub' %}" class="custom-button">  الموارد البشرية      </a>
    <a href="{% url 'hrhub:upload_employee_staff_kind_csv' %}" class="custom-button"> رفع ملف    </a>
    <a href="{% url 'hrhub:main_payroll_budget' %}" class="custom-button"> صفحة انواع الموازنات     </a>
    <a href="{% url 'hrhub:main_staff_structer_type' %}" class="custom-button"> صفحة انواع الملاك     </a>


    
</div>
{% endblock %}


