
{% extends 'core/base.html' %}



{% block content %}

<h1>{% if form.instance.pk %}تحديث البيانات{% else %}إضافة بيانات{% endif %}</h1>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">حفظ</button>
</form>
{% endblock %}



{% block sidemenu %}
<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">الصفحة الشخصية   </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'core:view_main_about_us' %}" class="custom-button">  عرض الصفحة  </a>
    <a href="{% url 'core:create_or_update_logo' %}" class="custom-button">  تعديل الشعار   </a>
   

</div>
{% endblock %}



{% block leftsidemenu %}
<label class="result-label">   {{ request.user }}</label>
{% endblock %}
