{% extends 'core/base.html' %}

{% block content %}
    <div class="contact-container">
       
        <h2>  <p><strong>العنوان:</strong> {{ main_about_us.title }}</p></h2>
        <div class="contact-details">
            
            <p><strong>النص المكتوب في الاتصال بنا:</strong> {{ main_about_us.massage }}</p>
            <p><strong>رقم الهاتف:</strong> {{ main_about_us.phone_number }}</p>
            <p><strong>البريد الإلكتروني:</strong> {{ main_about_us.email }}</p>
            <p><strong>الموقع:</strong> {{ main_about_us.locations }}</p>
        </div>
       
    </div>
{% endblock %}

{% block sidemenu %}
<div style="display: flex; align-items: center; justify-content: flex-start;">
    <div style="margin-right: 20px;">
        {% if logo and logo.image %}
            <img src="{{ logo.image.url }}" alt="شعار الوزارة" class="logo-image">
        {% else %}
            <p>لا يوجد شعار.</p>
        {% endif %}
    </div>
    <div>
        <!-- أي محتوى آخر في السايد بار -->
    </div>
</div>
{% endblock %}



{% block leftsidemenu %}
<label class="result-label">   {{ request.user }}</label>
{% endblock %}
