{% extends 'core/base.html' %}


{% block title %}

{% endblock %}



{% block titlesidemenu %}

{% endblock %}


{% block sidemenu %}

<div class="button-container">

    <a href="{% url 'accounts:view_profile' %}" class="custom-button">  الصفحة الشخصية    </a>
    <a href="{% url 'personalinfo:main_personalinfo' %}" class="custom-button"> ادارة المعلومات الشخصية     </a>
    <a href="{% url 'personalinfo:mainreligion' %}" class="custom-button"> صفحة الديانات       </a>

    {% if perms.personalinfo.can_create_religion %}
   
    <a href="{% url 'personalinfo:add_religion' %}" class="custom-button">  اضافة ديانة   </a>
    {%  else %}
                لا تمتلك الصلاحية
                {% endif %}

    <a href="{% url 'personalinfo:export_religions_csv' %}" class="custom-button">  تصدير CSV     </a>
                

</div>

{% endblock %}


{% block leftsidemenu %}
<label class="result-label">   عدد الموظفين الذين لديهم هذه الديانة : {{ employee_count }}</label>

{% endblock %}

{% block content %}


<h2> تفاصيل الديانة </h2>
<p><strong>اسم الديانة :</strong> {{ religion.name_in_arabic }}</p>
<p><strong>اسم مدخل البيانات  :</strong> {{ religion.created_by }}</p>
<p><strong>تاريخ الادخال    :</strong> {{ religion.created_at }}</p>
<p><strong>تاريخ اخر تحديث    :</strong> {{ religion.updated_at }}</p>



    {% if perms.personalinfo.can_update_religion %}
    <a href="{% url 'personalinfo:update_religion' religion.slug %}" class="update_button">تحديث</a>
   
                {% endif %}

                {% if perms.personalinfo.can_delete_religion %}
    <a href="{% url 'personalinfo:delete_religion' religion.slug %}" class="delete_button" onclick="return confirm('هل أنت متأكد أنك تريد حذف هذه الديانة؟')">حذف</a>
    
                {% endif %}




{% endblock %}