{% extends 'core/base.html' %}


{% block title %}

{% endblock %}



{% block titlesidemenu %}

{% endblock %}


{% block sidemenu %}


<h3>  </h3>

<div class="button-container">

    <a href="{% url 'accounts:view_profile' %}" class="custom-button">  الصفحة الشخصية    </a>
    <a href="{% url 'personalinfo:main_personalinfo' %}" class="custom-button"> ادارة المعلومات الشخصية     </a>
    <a href="{% url 'personalinfo:mainreligion' %}" class="custom-button"> صفحة الديانات       </a>


    {% if perms.personalinfo.can_create_religion %}
   
    <a href="{% url 'personalinfo:add_religion' %}" class="custom-button">  اضافة ديانة   </a>
    {%  else %}
                لا تمتلك الصلاحية
                {% endif %}

    <a href="{% url 'personalinfo:export_religions_csv' %}" class="custom-button">  تصدير CSV     </a>
                

</div>

{% endblock %}



{% block leftsidemenu %}
<label class="result-label"> موظف محدث البيانات : {{ create_by.username }}</label>

{% endblock %}

{% block content %}


<h2>تحديث الديانة: {{ religion.name_in_arabic }}</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="update_button">تحديث</button>
  </form>

{% endblock %}

