{% extends 'core/base.html' %}

{% block title %}إضافة جامعة جديدة{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">إضافة جامعة جديدة</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <small class="error-text">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-submit">حفظ</button>
    </form>
</div>
{% endblock %}

{% block leftsidemenu %}
<label class="result-label">مدخل البيانات: {{ request.user }}</label>
{% endblock %}


<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">  الصفحة الشخصية    </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'rddepartment:main_rddepartment' %}" class="custom-button">   الشهادات والتطوير     </a>
    <a href="{% url 'rddepartment:main_foreignuniversity' %}" class="custom-button">   الجامعات الاجنبية      </a>
    {% if perms.rddepartment.can_add_foreign_university %}
    <a href="{% url 'rddepartment:add_foreignuniversity' %}" class="custom-button">  اضافة  جامعة اجنبية    </a>
    {% else %}
    ليس  لديك صلاحية ادخال جامعة 
    {% endif %}
    <a href="{% url 'rddepartment:download_sample_foreign_universities_csv' %}" class="custom-button">   نموذج  CSV      </a>

    {% if perms.rddepartment.can_add_foreign_university %}
    <a href="{% url 'rddepartment:upload_foreign_university_csv' %}" class="custom-button">   رفع ملف CSV      </a>
   
    {% endif %}
    

    

    
</div>