{% extends 'core/base.html' %}

{% block titlecontent %}ادخال منطقة  {% endblock %} 

{% block sidemenu %}

<div class="button-container">

    <a href="{% url 'locations:main_locations_dashboard' %}" class="custom-button">الاماكن</a>
    {% if perms.locations.can_create_region %}
    <a href="{% url 'locations:create_region' %}" class="custom-button"> منطقة جديدة</a>
  {% endif  %}
   
    <a href="?governorate={{ request.GET.governorate }}&export=csv" class="custom-button">تصدير إلى CSV</a>

        <a href="{% url 'locations:download_sample_regions_csv' %}" class="custom-button"> نموذج CSV </a>
        {% if perms.locations.can_create_region %}
        <a href="{% url 'locations:upload_regions_csv' %}" class="custom-button"> رفع CSV </a>
        {% endif  %}

  
   
        

</div>


{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">إضافة منطقة</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <small class="error-text">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-submit">حفظ</button>
    </form>
</div>
{% endblock %}




{% block leftsidemenu %}
<label class="result-label">   {{ request.user }}</label>
{% endblock %}
