{% extends "base.html" %}

{% block content %}
    <h2>تفاصيل العنوان الوظيفي</h2>
    
    <p><strong>الموظف:</strong> {{ employee_job_title.basic_info.firstname }} {{ employee_job_title.basic_info.secondname }}</p>
    <p><strong>العنوان الوظيفي عند التعيين:</strong> {{ employee_job_title.start_employee_job_title }}</p>
    <p><strong>تاريخ التعيين:</strong> {{ employee_job_title.start_employee_job_title_date }}</p>
    <p><strong>العنوان الوظيفي الحالي:</strong> {{ employee_job_title.employee_job_title }}</p>
    <p><strong>تاريخ الحصول على العنوان الحالي:</strong> {{ employee_job_title.employee_job_title_date }}</p>
    <p><strong>العنوان الوظيفي القادم:</strong> {{ employee_job_title.next_employee_job_title }}</p>
    <p><strong>تاريخ الحصول على العنوان القادم:</strong> {{ employee_job_title.next_employee_job_title_date }}</p>
    <p><strong>ملاحظات:</strong> {{ employee_job_title.comments }}</p>
    
    {% comment %} <a href="{% url 'employee_job_title_detail' employee_job_title.slug %}">رابط مباشر لهذا العنوان الوظيفي</a> {% endcomment %}
{% endblock %}



{% block sidemenu %}
<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">الصفحة الشخصية   </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'hrhub:main_hrhub' %}" class="custom-button">  الموارد البشرية      </a>
    

    <a href="{% url 'hrhub:upload_employment_history_csv' %}" class="custom-button">رفع CSV   </a>

</div>
{% endblock %}


