{% extends 'core/base.html' %}


{% block title %}

{% endblock %}



{% block titlesidemenu %}

{% endblock %}


{% block sidemenu %}
<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">الصفحة الشخصية   </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'hrhub:main_hrhub' %}" class="custom-button">  الموارد البشرية      </a>
   
    <a href="{% url 'hrhub:add_thanks_type' %}" class="custom-button">  اضافة نوع  كتاب شكر جديد    </a><br>    
    {% comment %} <a href="{% url 'hrhub:upload_employees_csv' %}" class="custom-button">رفع ملف CSV </a> {% endcomment %}
    {% comment %} <a href="{% url 'hrhub:download_employee_offices_csv_template' %}" class="custom-button">تحميل نموذج CSV </a> {% endcomment %}
</div>
{% endblock %}



{% block titlecontent %}

{% endblock %} 

{% block content %}


<h2>تحديث العنوان الوظيفي: {{ job_title.title_in_arabic }} - {{ job_title.parent }}</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="update_button">تحديث</button>
  </form>

{% endblock %}




{% block leftsidemenu %}
<label class="result-label">محدث البيانات    : {{ request.user }}</label>
{% endblock %}
