{% extends 'core/base.html' %}

{% block title %}تفاصيل التنسيب{% endblock %}

{% block content %}
    <h2>تفاصيل التنسيب</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th>#</th>
                <th>الموظف</th>
                <th>نوع التنسيب</th>
                <th>مكان التنسيب</th>
                <th>رقم الأمر الصادر</th>
                <th>تاريخ بداية التنسيب</th>
                <th>تاريخ نهاية التنسيب</th>
                <th>ملف PDF</th>
                <th>تحديث</th>
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td> 
                <td>{{ placement.employee.get_full_name }}</td>
                <td>{{ placement.get_placement_type_display }}</td>
                <td>{{ placement.place_of_placement.name_in_arabic }}</td>
                <td>{{ placement.name }}</td>
                <td>{{ placement.start_date }}</td>
                <td>{{ placement.end_date }}</td>
                <td>
                    {% if placement.pdf_file %}
                    <a href="{{ placement.pdf_file.url }}" class="details-button">عرض الملف</a>
                    {% else %}
                    لا يوجد ملف PDF
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'hrhub:update_placement' placement.slug %}" class="update_button">تحديث</a>
                </td>
                <td>
                    <a href="{% url 'hrhub:delete_placement' placement.slug %}" class="delete_button"
                       onclick="return confirm('هل أنت متأكد أنك تريد حذف هذا التنسيب؟');">
                       حذف
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}

{% block leftsidemenu %}
<label class="result-label">   {{ request.user }}</label>
{% endblock %}



{% block sidemenu %}
<div class="button-container">
    <a href="{% url 'accounts:view_profile' %}" class="custom-button">الصفحة الشخصية   </a>
    <a href="{% url 'accounts:main_control_panel' %}" class="custom-button">  لوحة التحكم     </a>
    <a href="{% url 'hrhub:main_hrhub' %}" class="custom-button">  الموارد البشرية      </a>
    <a href="{% url 'hrhub:main_placement' %}" class="custom-button">  صفحة التنسيبات       </a>


    <a href="{% url 'hrhub:upload_placement_csv' %}" class="custom-button">رفع CSV   </a>


</div>
{% endblock %}